{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  {% if section.title %}
    <title>{{ section.title }}</title>
  {% elif page.title %}
    <title>{{ page.title }}</title>
  {% elif config.extra.default_title %}
    <title>{{ config.extra.default_title }}</title>
  {% endif %}
  
  {% block rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
  {% endblock %}

  {% if page.description %}
  <meta name="description" content="{{ page.description }}" />
  {% else %}
  <meta name="description" content="HUML is a simple, strict, serialization language for documents, datasets, and configuration." />
  {% endif %}

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta property="og:image" content="{{ get_url(path="/static/thumb.png", cachebust=true) }}">
  <link rel="shortcut icon" href="{{ get_url(path="/static/favicon.png" ) }}" />
  <link rel="stylesheet" type="text/css" media="screen" href="{{ get_url(path="/static/base.css", cachebust=true) }}" />
  <link rel="stylesheet" type="text/css" media="screen" href="{{ get_url(path="/static/style.css", cachebust=true) }}" />
</head>

<body class="{% if page.extra.toc %}has-toc{% endif %} {% if page.slug %}page page-{{ page.slug }}{% endif %}">
  {% if page.extra.toc %}
  <nav class="toc">
    <strong>Table of contents</strong>
    {% if page.toc %}
        <ul>
        {%- for h1 in page.toc %}
            <li>
                <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
                {%- if h1.children and h1.children | length > 0 -%}
                    <ul>
                        {%- for h2 in h1.children %}
                            <li>
                                <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>

                                {%- if h2.children and h2.children | length > 0 -%}
                                <ul>
                                    {%- for h3 in h2.children -%}
                                        <li>
                                            <a href="{{ h3.permalink | safe }}">{{ h3.title }}</a>
                                        </li>
                                    {%- endfor -%}
                                </ul>
                                {%- endif -%}
                            </li>
                        {%- endfor %}
                    </ul>
                {%- endif -%}
            </li>
        {%- endfor -%}
        </ul>
    {%- endif -%}
  </nav>
  {% endif %}

<main class="container main">
  <header class="header row">
    <div class="col-3 col-fix">
      <div class="logo"><a href="{{ get_url(path='/') }}"><img src="{{ get_url(path='/static/logo.svg') }}" alt="{{ config.extra.default_title }}" /></a></div>
    </div>
    <nav class="col-9 col-fix nav">
      <input type="checkbox" id="nav-toggle" />
      <label for="nav-toggle" class="nav-toggle-label" aria-label="Toggle nav">☰</label>

      <div class="items">
        {{ macros::page_link(name="Home", path="") }}
        {{ macros::page_link(name="Specification (v0.2.0)", path="@/specifications/v0.2.0.md") }}
        {{ macros::page_link(name="Code", path="@/code.md") }}
        {{ macros::page_link(name="Playground", path="@/playground.md") }}
        <a href="https://github.com/huml-lang" target="_blank">GitHub</a>
      </div>
    </nav>
  </header>
  <section class="section content">
    {% block content %} {% endblock %}
  </section>
  
  <footer class="footer"><a href="https://nadh.in">Kailash Nadh</a> / Website content is licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/"> CC BY-SA 4.0</a></footer>
</main>
<script>
(() => {
  document.querySelectorAll('a[data-copy-clipboard]').forEach(link => {
    link.addEventListener('click', e => {
      e.preventDefault();
      const pre = [...document.querySelectorAll('pre')]
        .reverse()
        .find(el => el.compareDocumentPosition(link) & Node.DOCUMENT_POSITION_FOLLOWING);
      if (pre) {
        navigator.clipboard.writeText(pre.innerText);
        const originalText = link.innerText;
        link.innerText = 'Copied ✓';
        setTimeout(() => link.innerText = originalText, 2000);
      }
    });
  });
})();
</script>
</body>
</html>
